html {
    margin: 0;
}

body {
    color: rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(73, 84, 146);
    height: 5rem;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    padding: 0 1rem 0 1rem;
    box-sizing: border-box;
}

main {
    margin-top: 5rem;
    position: absolute;
    padding: 1rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}

.header-bottom {
    flex: 1;
}