html {
    margin: 0;
}

body {
    color: rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(73, 84, 146);
    height: 5rem;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    padding: 0 1rem 0 1rem;
    box-sizing: border-box;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}

.header-bottom {
    flex: 1;
    text-align: center;
    padding-top: 2rem;
}

.mobile-list {
    list-style-type: none;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding: 0;
    margin: 0;
}

.mobile-list li {
    padding-bottom: 2rem;
}

.desktop-list li {
    display: inline;
}

main {
    margin-top: 5rem;
    position: absolute;
    padding: 1rem;
}

@media screen and (min-width: 500px) {
    .burger {
        display: none !important;
    }
    .header-top {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .desktop-list {
        display: none;
    }
}